@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .text-gold {
    color: #FFD700;
  }
  .bg-gold {
    background-color: #FFD700;
  }
  .border-gold {
    border-color: #FFD700;
  }
}